.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.loginBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: 2px solid grey;
    border-radius: 10px;
  }

  button {
    width: 100%;
  }
}
