.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &Title {
    font-size: 20px;
    font-weight: 400;
  }
}

.loginBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    &:focus {
      background-color: white;
    }
  }

  button {
    width: 100%;
  }
}
