.container {
  .content__top {
    display: flex;
    gap: 60px;
    margin-bottom: 50px;

    .contentTopAvatar {
      width: 200px;
      height: 150px;
      border-radius: 48px;
    }

    .userInfo {
      &List {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .contentBottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tabs {
    &List {
      margin-bottom: 20px;
      margin-right: 40px;
    }

    .listTitle {
      margin-bottom: 20px;
    }
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .actualGradesBlock {
    margin-bottom: 10px;
  }

  .actualGrades {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;

    button {
      max-width: 200px;
    }
  }

  .actualGradesButtons {
    display: flex;
    gap: 5px;
  }

  .publishForm {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .textarea {
      input {
        height: 200px;
      }
    }

    button {
      max-width: 200px;
    }
  }

  .lessonsList {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .groupsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .studentName {
    margin-bottom: 5px;
  }

  .mail {
    margin-bottom: 5px;
  }
}
