.container {
  .content__top {
    display: flex;
    gap: 60px;
    margin-bottom: 50px;

    .contentTopAvatar {
      width: 200px;
      height: 200px;
      border-radius: 48px;
    }

    .userInfo {
      &List {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .contentBottom {
    .paymentWrap {
      padding-top: 15px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 15px;
      &Edit {
        display: flex;
        gap: 15px;
        padding-top: 15px;
        flex-wrap: wrap;
      }
      &Payment {
        padding-top: 15px;
        display: grid;
        column-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
      }
      &Addon {
        padding-top: 15px;
        display: grid;
        column-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
      }
      &Event {
        padding-top: 15px;
        display: grid;
        column-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
