.container {
  .content__top {
    display: flex;
    gap: 60px;
    margin-bottom: 50px;

    .contentTopAvatar {
      width: 200px;
      height: 200px;
      border-radius: 48px;
    }

    .userInfo {
      &List {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .contentBottom {
    &Title {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 500;
    }

    .actions {
      list-style: none;
    }
  }
}
