body {
  padding: 50px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #c4fffc;
  font-size: 16px;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    padding: 0;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

.appStart {
  background-color: white;
  border-radius: 30px;
}

.content {
  // display: flex;
  // justify-content: center;
  padding: 20px;

  strong {
    font-size: 46px;
  }
}
