.container {
  .content__top {
    display: flex;
    gap: 60px;
    margin-bottom: 50px;

    .contentTopAvatar {
      width: 162px;
      height: 162px;
      border-radius: 48px;
      //   object-fit: cover;
    }

    .userInfo {
      &List {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  .contentBottom {
    .wrap {
      &Editor {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        gap: 15px;
      }
      &Student {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        border: 1px solid grey;
        margin-bottom: 5px;
        gap: 10px;
      }
      &Group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid grey;
        margin-bottom: 5px;
        gap: 10px;
      }
      &Teacher {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        border: 1px solid grey;
        margin-bottom: 5px;
        gap: 10px;
      }
      &Employee {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        border: 1px solid grey;
        margin-bottom: 5px;
        gap: 10px;
      }
    }
  }
}
